#bodyDiv {
  background-color: antiquewhite;
  text-align: center;
}

.header h2 {
  color: rgb(9, 58, 90);
  font-size: 35;
}

.list a {
  color: rgb(18, 66, 85);
}

.list a:link {
  color: rgb(16, 135, 233);
  text-decoration: none;
  font-size: 25;
}

.list a:visited {
  text-decoration: none;
  font-size: 25;
}
